---
---

@import "minima";

@import url('https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf');
body {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    color: #383838;
}

.footer-col-1 {
    width: calc(30% - (30px / 2));
}

.footer-col-2 {
    width: calc(35% - (30px / 2));
}

.footer-col-3 {
    width: calc(35% - (30px / 2));
}