---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

.footer-col-1 {
    width: calc(30% - (30px / 2));
}

.footer-col-2 {
    width: calc(35% - (30px / 2));
}

.footer-col-3 {
    width: calc(35% - (30px / 2));
}